:root {
    --logo: url("../assets/logo.svg");
}

@media (prefers-color-scheme: dark) {
    :root {
        --logo: url("../assets/logo_dark.svg");
    }
}

.translation {
    .translate-input {
        background: var(--clr-bg);
        color: var(--clr-text);
        width: 100%;
        min-height: 100px;
        outline: none;
        border: none;
        font-family: "HK Grotesk", sans-serif;
    }

    .card-content {
        font-weight: 400;
        font-size: 17px;
    }

    .card {
        width: 100%;
    }

    input[type="radio"] {
        width: 0;
        height: 0;
        opacity: 0;
        display: contents;
    }

    span.unknown-word {
        color: var(--clr-red-alt);
        padding-bottom: 1px !important;
        border-bottom: 1px dashed var(--clr-red-alt);
    }

    span.unexact-word {
        color: var(--clr-orange);
        padding-bottom: 1px !important;
        border-bottom: 1px dashed var(--clr-orange);
    }
}
main .translation .card .card-header .card-tabs {
    label {
        cursor: pointer;
    }
    input[type="radio"] {
        &:not(:checked) + label {
            padding-bottom: 10px;
        }
        &:checked + label {
            padding-bottom: 8px;
            border-bottom: 2px solid var(--clr-red);
        }
    }
}

#errors {
    &.visible {
        display: block;
    }
    &:not(.visible) {
        display: none;
    }
    background: var(--clr-red-alt);
    color: var(--clr-text);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    position: fixed;
    top: 10px;

    left: 16px;
    right: 16px;
}

.history > .card-content > .history-line {
    &:not(:first-child) {
        padding-top: 10px;
        border-top: 1px solid var(--clr-border);
    }
    .history-source {
        font-size: 13px;
        color: var(--clr-text-alt);
    }
}

@media screen and (min-width: 768px) {
    .translation .card {
        width: 50%;
    }
    #errors {
        left: 64px;
        right: 64px;
    }
}

.result-content {
	min-height: 62px;
	position: relative;

	.speak {
		display: flex;
		padding: 8px;
		background: var(--clr-bg-alt);
		border-radius: 99px;
		border: 1px solid var(--clr-border);
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
}

.tippy-box[data-theme~="tomato"] {
    background-color: var(--clr-orange);
    color: #fff;
}

.tippy-box[data-theme~="wrong"] {
    background-color: var(--clr-red-alt);
    color: #fff;
}